# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

.sass-cache/

.DS_Store

/app/post_types/*
!/app/post_types/index.html

/app/partials/*
!/app/partials/index.html

/app/shortcodes/*
!/app/shortcodes/index.html

/app/snippets/*
!/app/snippets/index.html
!/app/snippets/urls.snippet.php

/app/widgets/*
!/app/widgets/index.html